<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962836846393-7k9uhask12l7l75niu9s817g9pnbcf4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962836846393-7k9uhask12l7l75niu9s817g9pnbcf4v</string>
	<key>API_KEY</key>
	<string>AIzaSyAD2bROeiS117P3xoS8QJHVxbfr3zZuYUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>962836846393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iPersianDeveloper.melkita</string>
	<key>PROJECT_ID</key>
	<string>melkita-906fd</string>
	<key>STORAGE_BUCKET</key>
	<string>melkita-906fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962836846393:ios:b1eff5bda07c0ba652bae8</string>
</dict>
</plist>